RewriteCond %{HTTP:X-Forwarded-Proto} ^http$
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
# HTTPSアクセスの場合のみベーシック認証を行う
<If "%{HTTP:X-Forwarded-Proto} == 'https'">
  AuthUserFile /app/.htpasswd
  AuthType Basic
  AuthName "Restricted Access"
  Require valid-user
</If>
# manifestファイルは除外する
<Files "manifest.json">
  Satisfy Any
  Allow from all
</Files>